
<!doctype html>
<html lang="en">
  <head>
    <title>Upload Images</title>
  </head>
  <body>
    <h1>Upload Passport, Front and Back of Residence Card</h1>
    <form method="post" enctype="multipart/form-data">
      Passport Image: <input type="file" name="passport" required><br><br>
      Residence Front Image: <input type="file" name="front" required><br><br>
      Residence Back Image: <input type="file" name="back" required><br><br>
      <input type="submit" value="Upload and Translate">
    </form>
  </body>
</html>
